.body {
  padding: 25px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: monospace;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
}
.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px;
}
.nav-li {
  margin-right: 7rem;
  list-style: none;
}

.nav-a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
}

.nav-a:hover {
  color: lightcoral;
}
.image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  background-color: grey;
  width: 300px;
}

.label {
  margin: 10px;
  width: 200px;
}

.input {
  margin: 10px;
  width: 200px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.submit {
  margin: 10px;
  width: 215px;
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.media-links {
  display: flex;
  text-decoration: none;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 30px;
}

.media-a {
  border-radius: 50%;
  text-decoration: none;
  color: lightcoral;
  margin: 20px;
}
.toggle-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.theme-toggle {
  padding: 0.7rem;
  font-size: large;
  border-radius: 5px;
}
